@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Josefin Sans", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* font-family: "Nunito Sans", sans-serif; */

* {
  margin: 0;
  padding: 0;
  /* font-family: "Nunito Sans", sans-serif !important; */
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  color: #474d52;
}

body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-position: center;
}



.btn-primary {
  color: #ffdee9;
  background-color: #474d52;
  border-color: #474d52;
}

.btn-primary:active {
  background-color: #fff !important;
}

.btn-primary:active::after {
  background-color: #fff !important;
}





.product-submit-btn {
  color: #ffdee9;
  margin-top: 1.0rem;
  background-color: #474d52;
  border-color: #474d52;
  border: 0.1rem solid #474d52;
  border-radius: 0.5rem;
  transition: all linear 0.1s;
  transform: scale(1.0);
}

.product-submit-btn:hover {
  color: #ffdee9;
  background-color: #474d52;
  border-color: #474d52;
  transform: scale(0.95);
  background-color: #474d52;
  color: #ffdee9;
  box-shadow: inset;
}

.product-link {
  text-decoration: none !important;
}


.product-update {
  display: flex;
  gap: 6rem;
}

/* 
.product-update-btn {
  color: #ffdee9;
  margin-top: 1.0rem;
  background-color: #474d52;
  border-color: #474d52;
  border: 0.1rem solid #474d52;
  border-radius: 0.5rem;
  transition: all linear 0.1s;
  transform: scale(1.0);
}

.product-update-btn:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  font-size: 1.2rem;
  color: #474d52;
  background-color: #ffdee9;
  border: 0.1rem solid #474d52;
  gap: 1;
  border-radius: 0.5rem;
  transition: all linear 0.1s;
  transform: scale(1.0);
  box-shadow: inset;

} */


.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 21%;
  flex-grow: 1;
}

.card {
  border: 0.025rem solid #474d52;
}

.product-img {
  border-radius: -0.5rem;
  border: 0.025rem solid #ffdee9;
  border-bottom: 0.225rem solid #ffdee9;
}


.card-text {
  height: 4rem;
}

.card-title-text-homepage {
  height: 4rem;
}

.card-title-text-homepage-price {
  margin-top: 1.25rem;
  font-size: 1.5rem;
  font-weight: 600;
}




.child-homepage {
  transition: box-shadow .1s;
  transition: linear 0.1s;
  float: left;
}

.child-homepage:hover {
  transform: scale(1.01);
  box-shadow: 0 0 0.6rem #2a5252;

  .card-title-text-homepage-price {
    transition: all linear 0.1s;
    transform: scale(1.0);
  }

  .card-title-text-homepage-price:hover {
    margin-left: 0.2rem;
    transform: scale(1.07);
  }
}

.homepage-btn {
  margin-top: -1.5rem;
  width: 100%;
  color: #ffdee9;
  background-color: #474d52;
  border-color: #474d52;
  border: 0.1rem solid #474d52;
  border-radius: 0.5rem;
  transition: all linear 0.1s;
  transform: scale(1.0);
}

.homepage-btn:hover {
  color: #ffdee9;
  background-color: #474d52;
  border-color: #474d52;
  transform: scale(0.95);
  background-color: #474d52;
  color: #ffdee9;
  box-shadow: inset;
}




.details-btn {
  margin-top: 1.5rem;
  width: 10rem;
}



.child-homepage {
  transition: all linear 0.5s ease;
  overflow: hidden;
}

.product-img {
  transition: transform 0.2s ease;
}

.child-homepage:hover {
  transform: scale(1.02);

  .product-img {
    transform: scale(1.13);
  }
}






.category-link {
  height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 1.5rem;
  color: #ffdee9;
  background-color: #474d52;
  border: 0.1rem solid #474d52;
  gap: 1;
  border-radius: 0.5rem;
  transition: all linear 0.1s;
  transform: scale(1.0);
}

.category-link:hover {
  color: #ffdee9;
  background-color: #474d52;
  border-color: #474d52;
  transform: scale(0.95);
  background-color: #474d52;
  color: #ffdee9;
  box-shadow: inset;
}

.margin-of-cart {
  margin-right: -0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-bottom: 1.5rem;
}