@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Josefin Sans", sans-serif; */

.footer-section {
    padding: 0rem;
    margin: 0;
}

.footer-container {
    position: relative;
}

.nav-item {
    font-family: "Josefin Sans", sans-serif;
}

.navbar-logo {
    width: 4rem;
    margin-left: 2rem;
    transform: scale(1.5)
}

.navbar-logo {
    transition: transform 0.3s ease;
}

.navbar-logo:hover {
    transform: scale(1.8);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-item:hover {
    transform: scale(1.1);
    color: black;
    font-weight: 600;
}

.navbar-nav {
    margin-right: 1rem;
    gap: 1rem;
}

.nitplogo {
    transition: transform 0.3s ease;
    height: 2.75rem;
    width: 2.75rem;
}

.nitplogo:hover {
    transform: scale(1.1);
}

.social:hover {
    transform: scale(1.2);
}

.footer-comp {
    align-items: normal;
    justify-content: space-around;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.footer-comp:hover {
    color: black;
    text-decoration: underline;
}