.category-submit {
    color: #ffdee9;
    margin-top: 1.0rem;
    background-color: #474d52;
    border-color: #474d52;
    border: 0.1rem solid #474d52;
    border-radius: 0.5rem;
    transition: all linear 0.1s;
    transform: scale(1.0);
  }
  
  .category-submit:hover {
    color: #ffdee9;
    background-color: #474d52;
    border-color: #474d52;
    transform: scale(0.95);
    background-color: #474d52;
    color: #ffdee9;
    box-shadow: inset;
  }