.dashboard-content-product {
    margin: 0.9rem 0.55rem;
    max-width: 69rem;
    border: 0.1rem solid #474d52;
    border-radius: 0.55rem;
    padding: 1rem 0.5rem;
    padding-left: 1rem;
}

.text-underline-detail {
    margin-left: 1rem;
    font-size: 2rem;
    text-decoration: underline;
  }

  .dashboard-menu-product {
    border: 0.1rem solid #474d52;
    border-radius: 0.55rem;
  }